#Autorisation d'access
#---------------------
Options -Indexes

#Redirection des erreurs
#-----------------------
ErrorDocument 403 /SRDA/error/403.php
ErrorDocument 404 /SRDA/error/404.php
ErrorDocument 500 /SRDA/error/500.php

# Réecriture d'URL
#------------------
Options FollowSymLinks
RewriteEngine on
RewriteRule ^([a-z]+)/([a-zA-Z0-9]+)$ index.php?page=$1&action=$2 [L]
